*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Karla', sans-serif; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  color: white;
  background-color: #e5eff5;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center; }

.container {
  width: 85%;
  max-width: clamp(31rem, 70vw, 67rem);
  display: flex;
  align-items: center;
  justify-content: center; }

.cube {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 25px 0px;
  border-radius: 0.8rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .cube__box {
    padding: clamp(2.3rem, 3vw, 4.2rem); }
    .cube__box--white {
      background-color: white;
      grid-column: 1 / -1; }
    .cube__box--dark {
      background-color: #2ab2af; }
    .cube__box--light {
      background-color: #4bbebc; }
  .cube__heading-primary {
    color: #2ab2af;
    font-size: clamp(2rem, 1.7vw, 2.6rem);
    margin-bottom: 2.6rem; }
  .cube__heading-secondary {
    margin-bottom: 1.8rem; }
    .cube__heading-secondary--green {
      color: #c0df34;
      font-size: clamp(1.5rem, 2vw, 1.85rem);
      margin-top: 2rem;
      margin-bottom: 1.1rem; }
    .cube__heading-secondary--white {
      font-size: clamp(1.8rem, 2vw, 1.9rem);
      font-weight: 700;
      opacity: 0.8; }
  .cube__text {
    color: white; }
    .cube__text--dark {
      color: #98a6bd;
      line-height: 2.7rem;
      font-size: clamp(1.35rem, 2vw, 1.65rem);
      opacity: 0.8; }
    .cube__text-price {
      font-size: clamp(3.2rem, 2vw, 3.3rem);
      font-weight: 700;
      opacity: 0.9;
      display: flex;
      align-items: center; }
    .cube__text--span {
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: 1.3rem;
      opacity: 0.5; }
    .cube__text-amount {
      font-size: 1.62rem;
      opacity: 0.7;
      margin-top: 0.7rem; }
  .cube__button {
    width: 100%;
    color: white;
    background-color: #c0df34;
    border: transparent;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    padding: 1.5rem;
    margin-top: clamp(3rem, 1vw, 3.5rem);
    transition: all 0.3s; }
    .cube__button:hover, .cube__button:focus {
      cursor: pointer;
      background: none;
      box-shadow: 0 0 0 1px white, 0 0 0 2px #c0df34, 0 0 0 5px #c0df34, 0 0 0 6.5px white, 0 0 0 7px #c0df34; }
    .cube__button:focus-visible {
      outline: 0.15rem solid #e5eff5; }
  .cube__list {
    list-style: none;
    mix-blend-mode: soft-light;
    font-size: 1.45rem;
    margin-top: 2rem; }
    .cube__list-item:not(:last-child) {
      margin-bottom: 0.3rem; }

.attribution {
  color: #98a6bd;
  font-size: 1rem;
  margin: 1rem 0; }
  .attribution__link:link, .attribution__link:visited {
    color: #2ab2af;
    text-transform: uppercase;
    transition: all 0.2s; }
  .attribution__link:hover, .attribution__link:active {
    color: #c0df34; }
