$color-primary: hsl(179, 62%, 43%);
$color-primary--light: hsl(179, 47%, 52%);
$color-secondary: hsl(218, 22%, 67%);
$color-secondary--dark: hsl(204, 43%, 93%);
$color-secondary--light: hsl(0, 0%, 100%);
$color-tertiary: hsl(71, 73%, 54%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Karla', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: $color-secondary--light;
  background-color: $color-secondary--dark;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}
