.cube {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 25px 0px;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  &__box {
    padding: clamp(2.3rem, 3vw, 4.2rem);

    &--white {
      background-color: $color-secondary--light;
      grid-column: 1 / -1;
    }

    &--dark {
      background-color: $color-primary;
    }

    &--light {
      background-color: $color-primary--light;
    }
  }

  &__heading {
    &-primary {
      color: $color-primary;
      font-size: clamp(2rem, 1.7vw, 2.6rem);
      margin-bottom: 2.6rem;
    }

    &-secondary {
      margin-bottom: 1.8rem;

      &--green {
        color: $color-tertiary;
        font-size: clamp(1.5rem, 2vw, 1.85rem);
        margin-top: 2rem;
        margin-bottom: 1.1rem;
      }

      &--white {
        font-size: clamp(1.8rem, 2vw, 1.9rem);
        font-weight: 700;
        opacity: 0.8;
      }
    }
  }

  &__text {
    color: $color-secondary--light;

    &--dark {
      color: $color-secondary;
      line-height: 2.7rem;
      font-size: clamp(1.35rem, 2vw, 1.65rem);
      opacity: 0.8;
    }

    &-price {
      font-size: clamp(3.2rem, 2vw, 3.3rem);
      font-weight: 700;
      opacity: 0.9;
      display: flex;
      align-items: center;
    }

    &--span {
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: 1.3rem;
      opacity: 0.5;
    }

    &-amount {
      font-size: 1.62rem;
      opacity: 0.7;
      margin-top: 0.7rem;
    }
  }

  &__button {
    width: 100%;
    color: $color-secondary--light;
    background-color: $color-tertiary;
    border: transparent;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 15px 0px;
    font-size: 1.7rem;
    padding: 1.5rem;
    margin-top: clamp(3rem, 1vw, 3.5rem);
    transition: all 0.3s;

    &:focus-visible {
      outline: 0.15rem solid $color-secondary--dark;
    }

    @media (hover: hover) {
      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        background: none;
        box-shadow: 0 0 0 1px $color-secondary--light, 0 0 0 2px $color-tertiary,
          0 0 0 5px $color-tertiary, 0 0 0 6.5px $color-secondary--light,
          0 0 0 7px $color-tertiary, rgba(32, 32, 43, 0.4) 0px 5px 15px 5px;
      }
    }
  }

  &__list {
    list-style: none;
    mix-blend-mode: soft-light;
    font-size: 1.45rem;
    margin-top: 2rem;

    &-item {
      &:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }
  }
}

.attribution {
  color: $color-secondary;
  font-size: 1rem;
  margin: 1rem 0;

  &__link:link,
  &__link:visited {
    color: $color-primary;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-tertiary;
  }
}
